html {
    font-family: 'Montserrat',Arial,sans-serif;
}
/*header*/
nav ul a, nav a {
	color: #ff877c !important;
}
.cursive{
	font-family: 'Parisienne', cursive;
	color: #ff877c !important;
}
nav ul a:hover {
    color: #6C0202 !important;
}
/*seccion nombre*/
#nombre{
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	height: 100vh;
}

.titulo{
	position: relative;
	right:0;
	left: 0;
	top: 50%;
	transform: translateY(230%);
}
.titulo h1{
	font-family: 'Parisienne', cursive;
}
.titulo	p{
	font-size: 18px;
}
/**/
.separador{
	padding: 2% 0;
	background-color: #ffe8e6;
	font-family: 'Parisienne', cursive;
}
.foto2{
	width: 20%;
}


/*seccion trabajos*/
#works{
	padding:3% 0; 
}
#works h2{
	margin-bottom: 10%;
}
.card-title{
	color: #ff877c;
}
.card-content{
	min-height: 100px;
}
.gray{
	font-size: 	14px;
	color: #ff877c !important;
}
.gray:hover{
	color: #6C0202 !important;
}
/*seccion habilidades*/
#skills{
	padding: 3% 0;
}
#skills h2{
	margin-bottom: 10%;
}
#skills .m1{
	width: 11%;

}
.foto{
	width: 80%;
}
/*seccion acerca*/
#about{
	padding: 3% 0;
	background-color: #ffe8e6;
}
.acerca{
	margin-left: 5%;
}
.iny{
	border-radius: 100%;
	height: 200px;
	width: 200px;
	background-image: url(../img/perfil-1.jpg);
	background-position: center;
	background-size: cover;
	-webkit-transition: background 1000ms ease-in;
	-moz-transition: background 1000ms ease-in;
	-ms-transition: background 1000ms ease-in;
	-o-transition: background 1000ms ease-in;
	transition: background 1000ms ease-in;
}
.iny:hover{
	border-radius: 100%;
	height: 200px;
	width: 200px;
	background-image: url(../img/foto.jpg);
	background-position: center;
	background-size: cover;
	-webkit-transition: background 1300ms ease-in;
	-moz-transition: background 1300ms ease-in;
	-ms-transition: background 1300ms ease-in;
	-o-transition: background 1300ms ease-in;
	transition: background 1300ms ease-in;
}
/*footer*/
#contacto{
	padding: 3% 0;
	background-color: #ff877c;
	color: #6C0202 !important;
}
#contacto h4{
	font-family: 'Parisienne', cursive;
}
.contac{
	margin-left: 3% !important;
}
.valign-wrapper{
    margin-top: 2%;
}
#contacto li{
	margin: 2% 5%;
}
.icon{
	font-size: 50px;
    line-height: 1;
    color: #ffe8e6 !important;
}
.icon:hover{
	color: #6C0202 !important;
}
/*media query*/
@media (max-width: 600px) {
	.titulo{
		position: relative;
		right:0;
		left: 0;
		top: 50%;
		transform: translateY(100%);
	}
	.foto{
		width: 90%;
	}
	#skills .s3{
		width: 25%;
	}
}
